<%= simple_form_for([@album, @album.reviews.build]) do |f| %>
	<div id="Rating-Form">
	<%= f.input :rating %>
	</div>
	<%= f.input :comment %>
	<%=  f.button :submit, :class => "btn-custom2" %>
<% end %>
